@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Estilos generales*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, h2 {
    font-family: "bebas neue";
    font-weight: 500;
}

p, a, button {
    font-family: "open sans";
}

button {
    cursor: pointer;
}

p {
    font-weight: 500;
    font-size: 1.1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos botones */
.boton-1 {
    border: none;
    background-color: rgb(245, 203, 0);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 8px 32px;
}

.boton-2 {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 15px 40px;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    padding: 0.5% 4.5%;
    background-color: rgb(245, 203, 0);
}

header img {
    height: 60px;
}

nav {
    width: 80%;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 3.2%;
    width: 100%;
}

.link-menu {
    font-size: 1.05rem;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

/* Estilos sección 1 */
.seccion-1 {
    display: flex;
    width: 100%;
    min-height: 130vh;
    padding: 5.5%;
    gap: 8%;
}

.sec1-img {
    width: 50%;
}
.sec1-text {
    display: flex;
    flex-direction: column;
    gap: 4%;
    width: 50%;
    padding-top: 5%;
    padding-right: 8%;
}

.sec1-text h1 {
    font-size: 7rem;
    line-height: 0.8;
}

/* Estilos seccion 2 */
.seccion-2 {
    display: none;
}

/* Estilos seccion 3*/ 
.seccion-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8% 7%;
    width: 100%;
    min-height: 170vh;
    background-color: rgb(245, 203, 0);
}

.sec3-tit {
    width: 50%;
    font-size: 4.4rem;
    line-height: 0.8;
}

.sec3-contenido {
    display: flex;
    gap: 4.2%;
    width: 100%;
}

.sec3-text {
    display:  flex;
    flex-direction: column;
    gap: 8%;
    line-height: 1.2;
    width: 32%;
    padding-top: 1.6%;
}

.sec3-img {
    display: flex;
    align-items: start;
    width: 68%;
}

.sec3-img img {
    width: 100%;
}

/* Estilos seccion 4 */
.seccion-4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125vh;
}

.sec4-cont {
    width: 85%;
    min-height: 95vh;
    display: flex;
    box-shadow: 30px 16px 40px rgba(0, 0, 0, 0.2);
}

.sec4-img {
    width: 50%;
    min-height: 95vh;
}

.sec4-img img {
    width: 100%;
    height: 100%;
}

.sec4-cont-text {
    padding: 4.5%;
    padding-right: 8%;
    background-color: #e6e6e6;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sec4-cont-text img {
    width: 55%;
    align-self: flex-end;
}

.sec4-text {
    width: 78%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.sec4-text h2 {
    line-height: 1;
    font-size: 5.5rem;
    color: rgb(245, 203, 0);
}

/* Estilos seccion 5 */
.seccion-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    width: 100%;
    min-height: 130vh;
    background-color: rgb(0, 0, 0);
}

.seccion-5 h2 {
    font-size: 2.8rem;
    color: rgb(245, 203, 0);
}

.seccion-5 p {
    width: 48.5%;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.seccion-5 img {
    margin-bottom: 40px;
    width: 75%;
}

/* Estilos seccion 6 */
.seccion-6 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
    padding: 9% 7%;
    width: 100%;
    min-height: 100vh;
}

.sec6-img {
    width: 60%;
}

.sec6-img img {
    width: 100%;
}

.sec6-cont-text {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.sec6-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 44px;
}

.sec6-text h2 {
    font-size: 4rem;
}

/* Estilos seccion 7*/ 
.seccion-7 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 8% 3%;
    padding-left: 6%;
    align-items: center;
    gap: 10%;
    background-color: rgb(230, 230, 230)
}

.sec7-cont-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.sec7-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.sec7-text h2 {
    font-size: 5.5rem;
    line-height: 1;
}