@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Estilos generales*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: "bebas neue";
    font-weight: 500;
}

p,
a,
button,
h3 {
    font-family: "open sans";
}

button {
    cursor: pointer;
}

p {
    font-weight: 500;
    font-size: 1.1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos botones */
.boton-1 {
    border: none;
    background-color: rgb(245, 203, 0);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 8px 32px;
}

.boton-2 {
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 15px 40px;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    padding: 0.5% 4.5%;
    background-color: rgb(245, 203, 0);
}

header img {
    height: 60px;
}

nav {
    width: 80%;
}

.menu {
    display: flex;
    justify-content: end;
    gap: 3.2%;
    width: 100%;
}

.link-menu {
    font-size: 1.05rem;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

/* Estilos sección 1 */
.seccion-1 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 5.5%;
    gap: 8%;
}

.sec1-img {
    width: 50%;
}

.sec1-text {
    display: flex;
    flex-direction: column;
    gap: 4%;
    width: 50%;
    padding-top: 5%;
    padding-right: 8%;
}

.sec1-text h1 {
    font-size: 7rem;
    line-height: 0.8;
}

/* Estilos seccion 2 */
.contenedor-sec2 {
    width: 80%;
    position: relative;
    height: 300px; /* altura que ocupará el “espacio intermedio” */

}
.seccion-2 {
    position: absolute;
    /* Saca el contenedor del flujo normal para poder posicionarlo libremente */
    top: 100%;
    /* Lo coloca justo debajo del contenedor padre (al 100% de su altura) */
    left: 50%;
    /* Lo ubica horizontalmente en el centro del contenedor padre */
    transform: translate(-50%, -50%);
    /* Ajusta la posición para que el centro del bloque quede exactamente centrado */
    background: #e6e6e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);


}


.sec2-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.sec2-text h2 {
    width: 50%;
    color: rgb(245, 203, 0);
    font-size: 4.2rem;
    line-height: 0.9;
}

.sec2-text a {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 800;
}

.sec2-text p {
    width: 60%;
}

.sec2-img {
    display: flex;
    justify-content: end;
    width: 50%;
    gap: 100px;
}

.sec2-img img {
    width: 250px;
    height: 250px;
}


/* Estilos seccion 3*/
.seccion-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 8% 7%;
    width: 100%;
    min-height: 170vh;
    background-color: rgb(245, 203, 0);
}

.sec3-tit {
    width: 50%;
    font-size: 4.4rem;
    line-height: 0.8;
}

.sec3-contenido {
    display: flex;
    gap: 4.2%;
    width: 100%;
}

.sec3-text {
    display: flex;
    flex-direction: column;
    gap: 8%;
    line-height: 1.2;
    width: 32%;
    padding-top: 1.6%;
}

.sec3-img {
    display: flex;
    align-items: start;
    width: 68%;
}

.sec3-img img {
    width: 100%;
}

/* Estilos seccion 4 */
.seccion-4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125vh;
}

.sec4-cont {
    width: 85%;
    min-height: 95vh;
    display: flex;
    box-shadow: 30px 16px 40px rgba(0, 0, 0, 0.2);
}

.sec4-img {
    width: 50%;
    min-height: 95vh;
}

.sec4-img img {
    width: 100%;
    height: 100%;
}

.sec4-cont-text {
    padding: 4.5%;
    padding-right: 8%;
    background-color: #e6e6e6;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.sec4-cont-text img {
    width: 55%;
    align-self: flex-end;
}

.sec4-text {
    width: 78%;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.sec4-text h2 {
    line-height: 1;
    font-size: 5.5rem;
    color: rgb(245, 203, 0);
}

/* Estilos seccion 5 */
.seccion-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5%;
    width: 100%;
    min-height: 130vh;
    background-color: rgb(0, 0, 0);
}

.seccion-5 h2 {
    font-size: 2.8rem;
    color: rgb(245, 203, 0);
}

.seccion-5 p {
    width: 48.5%;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.seccion-5 img {
    margin-bottom: 40px;
    width: 75%;
}

/* Estilos seccion 6 */
.seccion-6 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
    padding: 9% 7%;
    width: 100%;
    min-height: 100vh;
}

.sec6-img {
    width: 60%;
}

.sec6-img img {
    width: 100%;
}

.sec6-cont-text {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.sec6-text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 44px;
}

.sec6-text h2 {
    font-size: 4rem;
}

/* Estilos seccion 7*/
.seccion-7 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 8% 3%;
    padding-left: 6%;
    align-items: center;
    gap: 10%;
    background-color: rgb(230, 230, 230)
}

.sec7-cont-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.sec7-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 50px;
}

.sec7-text h2 {
    font-size: 5.5rem;
    line-height: 1;
}

.sec7-img {
    width: 59%;
}

.sec7-img img {
    width: 100%;
}

/* Estilos seccion 8 */
.seccion-8 {
    width: 100%;
    min-height: 100vh;
    padding: 11% 9%;
    display: flex;
    align-items: center;
    gap: 8%;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5.3% 4.5%;
    padding-bottom: 4%;
    gap: 10px;
    width: 53%;
    background-color: rgb(0, 0, 0);
}

form p {
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 18px;
}

label {
    color: rgb(255, 255, 255);
    font-family: "open sans";
    font-size: 1.09rem;
    font-weight: 600;
}

input {
    background: none;
    height: 32px;
    width: 100%;
    border: 3px solid rgb(255, 255, 255);
}

textarea {
    background: none;
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    height: 170px;
}

.cont-inputs {
    display: flex;
    width: 100%;
    gap: 20px;
}

.input-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}


.sec8-cont-text {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 47%;
}

.sec8-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.sec8-text h2 {
    width: 70%;
    color: rgb(245, 203, 0);
    font-size: 4.2rem;
    line-height: 1;
}

.sec8-text p {
    font-weight: 400;
    font-size: 1.43rem;
}

/* Estilos seccion 9 */
.seccion-9 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 4% 10%;
    background-color: rgb(245, 203, 0);
    align-items: center;
    gap: 40px;
}

.seccion-9 h2 {
    font-size: 3.3rem;
    line-height: 0.5;
}

.seccion-9 p {
    font-size: 1.4rem;
    font-weight: 400;
}

.seccion-9 img {
    width: 100%;
}

/* Estilos footer */
footer {
    width: 100%;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    padding: 4%;
    justify-content: space-between;
}

.foot-sec-1 {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.foot-sec-1 img {
    display: flex;
    width: 110px;
}

.foot-cont-text {
    display: flex;
    width: 100%;
    gap: 70px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    color: rgb(245, 203, 0);
    font-size: 1.1rem;
    line-height: 1.2;
}

.footer-text h3 {
    font-weight: 600;
}

.foot-sec-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    border-top: 2px solid rgb(255, 255, 255);
    width: 100%;
}

.foot-sec-2 h3 {
    color: rgb(245, 203, 0);
    font-size: 1.1rem;
    font-weight: 600;
}

.foot-sec2-img {
    display: flex;
    gap: 20px;
}

/* Media Queries*/

@media(max-width: 1279px) {

    /* Estilos seccion 1 */
    .seccion-1 {
        flex-direction: column;
        align-items: center;
    }

    .sec1-img {
        width: 70%;
    }

    .sec1-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        padding-right: 0px;
        gap: 30px;
    }

    .sec1-img img {
        width: 100%;
    }

    /* Estilos seccion 2 */
    .seccion-2 {
        align-items: center;
    }

    .sec2-text {
        width: 60%;
    }

    .sec2-text h2 {
        width: 100%;
    }

    .sec2-text p {
        width: 100%;
    }

    .sec2-img {
        flex-wrap: wrap;
        gap: 30px;
        width: 50%;
    }

    .sec2-img img {
        width: 160px;
        height: 160px;
    }

    /* Estilo seccion 3 */
    .seccion-3 {
        min-height: 150vh;
    }

    .sec3-tit {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    /* Seccion 4 */
    .seccion-4 {
        padding: 8% 2%;
    }

    .sec4-cont-text img {
        align-self: flex-start;
        margin-top: 40px;
    }
    .sec4-text h2 {
        font-size: 4.8rem;
    }

    .sec4-text {
        width: 90%;
    }

    /* Seccion 5 */
    .seccion-5 p {
        width: 80%;
    }
}

@media(max-width: 920px) {
    /* Seccion 5 */
    .seccion-5 {
        min-height: 100vh;
    }
}

@media(max-width: 768px) {
    
    /* Cabecera */
    .link-menu {
        font-size: 1rem;
    }

    /* seccion 1 */
    .sec1-img {
        display: none;
    }

    /* Seccion 3 */
    .seccion-3 {
        min-height: 140vh;
    }
    .sec3-text  {
        width: 100%;
        gap: 50px;
    }

    .sec3-img {
        display: none;
    }

    /* Seccion 4 */
    .sec4-cont {
        flex-direction: column;
    }

    .sec4-cont-text {
        padding-top: 60px;
        width: 100%;
        align-items: center;
    }

    .sec4-cont-text img {
        align-self: center;
    }

    .sec4-text {
        width: 100%;
    }
    .sec4-img {
        width: 100%;
        min-height: 0vh;
    }

    /* seccion 5 */
    .seccion-5 img {
        width: 90%;
    }

    /* seccion 6 */
    .seccion-6 {
        flex-direction: column;
    }

    .sec6-img {
        width: 80%;
    }

    .sec6-cont-text {
        align-items: center;
        width: 100%;
    }

    .sec6-text h2{
        text-align: center;
    }

    /* Seccion 7 */
    .seccion-7 {
        flex-direction: column;
        gap: 40px;
    }

    .sec7-cont-text {
        width: 90%;
    }

    .sec7-img {
        display: flex;
        width: 80%;
    }

    /* Seccion 8 */
    .seccion-8 {
        flex-direction: column;
        gap: 50px;
    }

    form {
        width: 100%;
    }

    .sec8-cont-text {
        width: 90%;
    }

    .sec8-text p {
        font-size: 1.1rem;
    }

    /* Seccion 9 */
    .seccion-9 {
        text-align: center;
    }
}
